{% extends "base.html" %}

{% block content %}
    <h1>To-Do List</h1>
    <form method="POST">
        <input type="text" name="content" placeholder="Add a new task" required>
        <input type="submit" value="Add">
    </form>
    <ul>
    {% for task in tasks %}
        <li>
            <form action="/toggle/{{ task.id }}" method="POST" style="display: inline;">
                <input type="checkbox" onchange="this.form.submit()" {% if task.completed %}checked{% endif %}>
            </form>
            <span style="{% if task.completed %}text-decoration: line-through;{% endif %}">
                {{ task.content }}
            </span>
            <a href="/delete/{{ task.id }}">[Delete]</a>
        </li>
    {% endfor %}
</ul>


{% endblock %}
